<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Ninjas</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="container">

    <h1>🥷 Lista de Ninjas</h1>

    <div style="text-align: center; margin-bottom: 20px;">
        <a class="btn salvar" th:href="@{/ninjas/ui/adicionar}">
            ➕ Adicionar Ninja
        </a>
    </div>

    <div class="table-container">

        <table>

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Email</th>
                    <th>Rank</th>
                    <th>Missão</th>
                    <th>Ações</th>
                </tr>
            </thead>


            <tbody>

                <tr th:each="ninja : ${ninjas}">

                    <td th:text="${ninja.id}"></td>

                    <td class="nome"
                        th:text="${ninja.nome}">
                    </td>

                    <td th:text="${ninja.idade}"></td>

                    <td th:text="${ninja.email}"></td>

                    <td>
                        <span class="rank"
                              th:text="${ninja.rank}">
                        </span>
                    </td>


                    <td>

                        <span th:if="${ninja.missoes}">
                            <strong th:text="${ninja.missoes.nome}"></strong>
                            <br>
                            <small>
                                Dificuldade:
                                <span th:text="${ninja.missoes.dificuldade}"></span>
                            </small>
                        </span>


                        <span class="sem-missao"
                              th:if="${ninja.missoes == null}">
                            Nenhuma missão
                        </span>

                    </td>


                    <td class="acoes">

                        <a class="btn editar"
                           th:href="@{/ninjas/editar/{id}(id=${ninja.id})}">
                            ✏ Editar
                        </a>


                        <a class="btn excluir"
                           th:href="@{/ninjas/ui/deletar/{id}(id=${ninja.id})}">
                            🗑 Excluir
                        </a>

                    </td>

                </tr>


            </tbody>

        </table>

    </div>


</body>
</html>
